/* Body and main adjustment */
/* Make sure the body takes full height */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content area */
main {
  flex: 1; /* This makes sure the main content area takes all available space */
  padding-bottom: 0; /* Remove any fixed padding */
}

/* Footer position at the bottom of the content */
footer {
  background-color: #611903;
  color: white;
  padding-left: 0;
  padding-right: 0;
  width: 100%;      /* Full width */
  z-index: 1000;    /* Ensure it stays above other elements */
  flex-shrink: 0;   /* Prevents shrinking */
  position: fixed; /* Let the footer flow naturally at the end of content */
}

/* Footer content styling */
.footer .container {
  display: flex;
  justify-content: center;
  gap: 0;
  width: 50%;
  background-color: #611903;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

/* Footer links and content */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

/* Footer copyright */
.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.copyrights p {
  color: #ffffff;
  font-weight: 100;
  text-align: center;
}

/* Media Queries for responsiveness */
@media (max-width: 475px) {
  .footer .container {
      flex-direction: column;
      width: 90%;
  }
  .app-links a img {
      width: 120px;
  }
  .social-links {
      flex-direction: column;
      gap: 10px;
  }
}

@media (max-width: 640px) {
  .footer .container {
      flex-direction: column;
      width: 90%;
  }
  .app-links a img {
      width: 140px;
  }
  .social-links {
      flex-direction: column;
      gap: 15px;
  }
}

@media (max-width: 768px) {
  .footer .container {
      gap: 30px;
      width: 80%;
  }
}

@media (max-width: 1024px) {
  .footer .container {
      gap: 30px;
      width: 80%;
  }
}

@media (max-width: 1280px) {
  .footer .container {
      width: 85%;
  }
}

@media (max-width: 1536px) {
  .footer .container {
      width: 90%;
  }
}
